NODE_ENV=development
PORT=3000
HOST=127.0.0.1
BASE_URL=http://localhost:3000

MONGO_URI=mongodb://127.0.0.1:27017/loginmycv
MONGO_URI_ONLINE=

LOGINMYCV_MAX_FILE_UPLOAD_SIZE_IN_BYTES=10000000
LOGINMYCV_USER_DEFAULT_ALLOCATED_SPACE_IN_BYTES=10000000

JWT_SECRET_USER=YOUR_SECRET_KEY_GOES_HERE
JWT_EXPIRE_USER=1d
JWT_COOKIE_EXPIRE_USER=1

JWT_SECRET_RESUME=YOUR_RESUME_SECRET_KEY_GOES_HERE
JWT_EXPIRE_RESUME=2m
JWT_COOKIE_EXPIRE_RESUME=120

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=

SMTP_HOST=
SMTP_PORT=
SMTP_EMAIL=
SMTP_PASSWORD=
FROM_EMAIL=
FORM_NAME=

SERVER_HOST=[gate address]
SERVER_USERNAME=[application server node id. Warning: it is not the username. Format is XXXXX-YYYY. XXXXX part is node id.]
SSH_PRIVATE_KEY=[local path to key on personal computer]
JELASTIC_API_TOKEN=[located on Downloads folder on PC]